body,
p,
h2 {
  margin: 0px;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.content-div {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.introduction-container, .random-information-container, .quote-container, .sign-up-prompt-container {
  height: 400px; 
}

/* header */
.header {
  height: 80px;
  width: 100%;
  background-color: #1F2937;
}

.header .content-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold; 
}

.header-links {
  display: flex;
  align-items: center;
  gap: 40px;
  color: #b0b2b5;
  font-size: 18px;
  
}

/* introduction */
.introduction-container {
  background-color: #1F2937;
}

.introduction-container .content-div {
  display: flex;
  align-items: center;
}

.introduction {
  display: flex;
  gap: 20px;
  width: 100%;
}

.introduction-image-placeholder {
  background-color: rgba(255, 255, 255, 0.4);
  color: #E5E7EB;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction-text h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 5px;
  margin-top: 5px;
}

.introduction-text p {
  color: #b0b2b5;
  font-size: 18px;
  margin-bottom: 10px;
}

.introduction-text button {
  background-color: #3882F6;
  border: None;
  border-radius: 8px;
  color: #F9FAF8;
  font-weight: 900;
  padding: 8px 23px;
}

.introduction-text {
  flex: 1;
}

/* some-random-information */
.random-information-container {
  background-color: white;
  width: 100%;
}

.random-information-container .content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  box-sizing: border-box;
}

.random-information {
  width: 100%;
}

.random-information-title {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937; 
  text-align: center;
  margin-bottom: 45px;
}

.random-information-card-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 50px;  
}

.random-information-card {
  flex-basis: 170px;
  flex-shrink: 0;
}

.random-information-card div {
  border-radius: 17px;
  border: 4px solid #3882F6;
  width: 100%;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.random-information-card p {
  font-size: 18px;
  width: 100%;
  color: #4b5563;
  text-align: center;
}


/* quote */
.quote-container {
  background-color: #E5E7EB;
  width: 100%
}

.quote-container .content-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  flex-basis: 77%;
  flex-shrink: 0;
}

.quote-text {
  font-weight: 300;
  font-size: 36px;
  color: #1F2937;
}

.quote-author {
  text-align: right;
  font-weight: 900;
  color: #1F2937;
}

/* sign-up */
.sign-up-prompt-container {
  background-color: white;
  width: 100%;
}

.sign-up-prompt-container .content-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-prompt {
  background-color: #3882F6;
  padding: 40px 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.sign-up-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sign-up-button {
  background-color: #3882F6;
  border: solid 1px white;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  padding: 5px 15px;
}

/* footer */
.footer {
  height: 80px;
  width: 100%;

  background-color: #1F2937;
}

.footer .content-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB
}