body {
    height: 2000px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.header {
    height: 80px;
    width: 100%;

    background-color: #1F2937;
}

.footer {
    height: 80px;
    width: 100%;

    background-color: #1F2937;
}