body,
p,
h2 {
  margin: 0px;
}

body {
  height: 2000px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.content-div {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

/* sign-up */
.sign-up-prompt-container {
  background-color: white;
  height: 400px;
}

.sign-up-prompt-container .content-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-prompt {
  background-color: #3882F6;
  padding: 40px 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.sign-up-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sign-up-button {
  background-color: #3882F6;
  border: solid 1px white;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  padding: 5px 15px;
}






.header {
  height: 80px;
  width: 100%;

  background-color: #1F2937;
}

.footer {
  height: 80px;
  width: 100%;

  background-color: #1F2937;
}